html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: rgb(255, 213, 122);
    border: 2px solid Gray;
    border-radius: 10px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    display: flow-root;
}

html {
    background: radial-gradient(circle, rgb(0, 183, 255), rgb(0, 183, 255) 68%, rgb(112, 255, 255) 50%, rgb(0, 183, 255));
    background-size: 30px 30px;
}


header p{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}
header h1{
    font-size: 16px;
    text-align: right;
}

/* image */
img.logo {
    display: block;
    margin: auto;
    width: 400px;
}
img.small {
    width: 200px;
    padding: left;
}
img.medium {
    max-width: 360px;
    width: 50%;
}
img.large {
    width: 100%;
}

/*nav bar */
nav ul {
    list-style-type: none;
    background-color: #b577b5;
    border: 4px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px;
}
nav ul li {
    display: inline;
    border-right: 2px solid #111111;
    padding-right: 8px;
    padding-left: 8px;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: #111111;
}
nav li.selected {
    color: #606060;
}
nav li a:hover{
    text-decoration: underline;
}
nav li a:active {
    text-decoration: underline;
    background-color: black;
    color: white;
}

section{
    background-color: #ffffff;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 24px;
    min-height: 320px;
    padding-left: 24px;
    padding-right: 24px;
}

footer p.copywrite{
    float: left;
    margin-top: 0px;
}
footer p.contact{
    text-align: right;
}




@media all and (min-width: 900px){
#article {
    float: left;
    width: 66%;
}
#side {
    float: left;
    width: 34%;
    padding-left: 24px;
}
#footer {
    clear: both;
}
}