body {
    background-color: rgb(255, 213, 122);
    border: 2px solid Gray;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
html {
    background: radial-gradient(circle, rgb(0, 183, 255), rgb(0, 183, 255) 68%, rgb(112, 255, 255) 50%, rgb(0, 183, 255));
    background-size: 30px 30px;
}